.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25PX;
  border-radius: 50%;
  font-size: 0.75em;
  font-family: Arial, Helvetica, sans-serif;
  background: blue;
  color: white;
  text-align: center;
  top: -12px;
  right: 32px;
}
